<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tool-facebook</title>
    <%- include("admin/layout/head.ejs") %>
    <link
      href="/static/css/font-awesome.css"
      rel="stylesheet"
    />
    <!------ Include the above in your HEAD tag ---------->
    <style>
      .btn-facebook {
        color: #fff;
        background-color: #3b5998;
        border-color: rgba(0, 0, 0, 0.2);
      }

      .btn-social {
        position: relative;
        padding-left: 44px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .btn-social:hover {
        color: #eee;
      }

      .btn-social :first-child {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 40px;
        padding: 7px;
        font-size: 1.6em;
        text-align: center;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <%- include("admin/layout/nav.ejs") %>
      <div
        id="loginbox"
        style="margin-top: 50px"
        class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"
      >
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title" style="text-align: center">
              UID facebook
            </div>
            <!-- <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="/updateuser">Đổi mật khẩu?</a></div> -->
          </div>
          <div class="text-center"></div>
          <div style="padding-top: 30px" class="panel-body">
            <% if (data && data.info){ %>
            <div
              id="login-alert"
              class="alert-info alert col-sm-12"
              style="text-align: center"
            >
              <%= data.info %>
            </div>
            <%}%>
            <form
              id="loginform"
              class="form-horizontal"
              role="form"
              method="post"
              action="/id-facebook"
            >
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"
                  ><i class="fa fa-user"></i
                ></span>
                <input
                  required
                  id="username"
                  type="text"
                  class="form-control"
                  name="username"
                  value=""
                  placeholder="https://www.facebook.com/username"
                />
              </div>

              <div style="margin-top: 10px" class="form-group">
                <div class="col-sm-12 controls" style="text-align: center">
                  <input
                    id="btn-login"
                    type="submit"
                    class="btn btn-success"
                    value="Kiểm tra"
                  />
                  <!-- <a id="btn-fblogin" href="#" class="btn btn-primary">Đăng nhập bằng Facebook</a> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div
        id="loginbox"
        style="margin-top: 15px"
        class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"
      >
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title" style="text-align: center">
              VID facebook
            </div>
          </div>
          <div class="text-center"></div>

          <div style="padding-top: 30px" class="panel-body">
            <% if (data && data.idvideo){ %>
            <div
              id="login-alert"
              class="alert-info alert col-sm-12"
              style="text-align: center"
            >
              <% if (data.linkvideo){ %>
              <a id="link-video" href="<%" ="data.linkvideo" %
                >> <i class="fa fa-download"></i> Tải về video-facebook</a
              >
              <% }else{ %> <%= data.idvideo %> <%}%>
            </div>
            <%}%>
            <form
              id="loginform"
              class="form-horizontal"
              role="form"
              method="post"
              action="/video-facebook"
            >
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"
                  ><i class="fa fa-video-camera"></i
                ></span>
                <input
                  required
                  id="video"
                  type="text"
                  class="form-control"
                  name="video"
                  value=""
                  placeholder="https://www.facebook.com/id_video"
                />
              </div>

              <div style="margin-top: 10px" class="form-group">
                <div class="col-sm-12 controls" style="text-align: center">
                  <!-- < % if (data && data.accessTokenFB){ %> -->
                  <input
                    id="btn-login"
                    type="submit"
                    class="btn btn-success"
                    value="Kiểm tra"
                  />
                  <!-- < %} else {%>
                      <input id="btn-login" type="submit" class="btn btn-success" value="Kiểm tra"  disabled>
                    < %}%> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <% if (data && data.source) { %>
      <div style="clear: both"><%= data.source %></div>

      <% } %>
    </div>
  </body>
</html>
